.login {
  display: flex;
  flex-direction: column;
  .login-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    flex-direction: column;
    width: 300px;
    input {
      padding: 8px 12px;

      height: 32px;

      border: 2px solid gray;
      border-radius: 8px;
      outline: none;
      &:hover {
        outline: 1px solid blue;
      }
    }
  }
}
